{% extends "base_generic.html" %}


{% block content %}


{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %} 
                      <script>alert("{{ message }}")</script> 
                {% endif %}
            {% endfor %}
        </ul>
{% endif %}

 

<table class="">
     <thead class="">
         <tr>
              <th>Usuario</th>
              <th>Direccion</th>
              <th>Cargo</th>
              <th>IP</th>
              <th>MAC</th>
              <th>Extension</th>
              <th>MAC</th>
              <th>Accion</th>
         </tr>
      </thead>
      <tbody>
            {% for item in fields %}
                <tr>
                    <td>{{ item.usuario }}</td>
                    <td>{{ item.direccion }}</td>
                    <td>{{ item.cargo }}</td>
                    <td>{{ item.ip }}</td>
                    <td>{{ item.mac }}</td>
                    <td>{{ item.tlf }}</td>
                    <td>{{ item.mactlf }}</td>
                    <td>
                      
                    <a href="{% url urls.0 item.pk %}" class="btn btn-danger">ELIMINAR</a>
                    <a href="{% url urls.1 item.pk %}" class="btn btn-danger">ACTUALIZAR</a>
                    </td>
                </tr> 
            {% endfor %}
      </tbody>        
</table>

{% endblock %}