{% extends "base_generic.html" %}
{% load widget_tweaks %}


{% block content %}

 <form method="post" class="form" novalidate enctype="multipart/form-data">

          


              {% csrf_token %}
            


               
            <div class="form-row container_input principal">
              
              {{ form.non_field_errors }}

              {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
              {% endfor %}
				 <div class="block">
	               
	                <div>
	                    <label for ="id_fecha_inicio">{{form.fecha_inicio.label}}</label><br>
	                    {{form.fecha_inicio}}                    
	                  </div>

	                  <div>
	                    <label for ="id_fecha_fin">{{form.fecha_fin.label}}</label><br>
	                    {{form.fecha_fin}}
	                  </div>
	                  
	             </div>
	                  
	             
			<div class="d-grid my-3">
                <button class="btn btn-success" type="submit" name="myButton">Consultar</button>
              </div>
            </div>
            </form>





 
{% endblock %}