{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        
        <form action="" method="post" class="principal">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <h4>Por favor ingrese (y confirme) su nueva contraseña.</h4>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva contraseña:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar contraseña:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar mi contraseña" class="btn btn-success" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <div class="principal">
            <h1>Cambio de contraseña fallido</h1>
            <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se usó. Solicite un nuevo restablecimiento de contraseña.</p>    
        </div>
        
    {% endif %}

{% endblock %}