{% extends "base_generic.html" %}


{% block content %}



<div class="principal">

             <ul>
				<li>
					<a href="ingresar">Ingresar</a>
				</li>
				<li>
					<a href="calcular-barra">Calcular Barra</a>
				</li>
				<li>
					<a href="calcular-testigo">Calcular Testigo</a>
				</li>
				<li>
					<a href="consultar2">Consultar</a>
				</li>
				
				<li>
					<a href="list">lista</a>
				</li>
			</ul>


	<div class="footer">
		<h5>Derechos reservados 2022, Oficina Nacional del Tesoro</h5>
	</div>
</div>
{% endblock %}