{% extends "base_generic.html" %}


{% block content %}



<div class="principal">

             <ul>
				<li>
					<a href="consultar">Fecha</a>
				</li>
				<li>
					<a href="consultar3">Còdigo de Barra</a>
				</li>
				<li>
					<a href="consultar4">Estatus</a>
				</li>
				<li>
					<a href="consultar5">Número de operación</a>
				</li>
				
				<li>
					<a href="consultar6">Ubicación</a>
				</li>
			</ul>


	<div class="footer">
		<h5>Derechos reservados 2022, Oficina Nacional del Tesoro</h5>
	</div>
</div>
{% endblock %}