{% extends "base_generic.html" %}

{% block content %}



 {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %} 
                      <script>alert("{{ message }}")</script> 
                {% endif %}
            {% endfor %}
        </ul>
 {% endif %}

<form method="post" class="d-grid list">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Guardar Cambios">
</form>

    
{% endblock %}
